@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8EDE3;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container {
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 4px black;
    border-radius: 20px;
    background-color: #665A48;
}

.display {
    background-color: #C8DBBE;
    width: 300px;
    height: 100px;
    border: solid 2px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.operationDisplay {
    color: #4d4336;
    font-size: 15px;
    font-family: 'Tektur', cursive;
    height: 40px;
    width: 300px;
    padding-left: 8px;
}

.solutionDisplay {
    color: #4d4336;
    font-size: 40px;
    font-family: 'Tektur', cursive;
    height: 60px;
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
}

.buttons {
    width: 300px;
    height: 400px;
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(4, 1FR);
    grid-template-rows: repeat(5, 1FR);
    margin-bottom: 20px;
    margin-top: 4px;
}

.btnStyle {
    border-radius: 10px;
    border: solid 2px black;
    font-size: 14px;
    font-family: 'Tektur', cursive;
}

.numerical {
    background-color: #7286D3;
}

.numerical:active {
    background-color: #97a3d4;
}

.operator {
    background-color: #FAAB78;
}

.operator:active {
    background-color: #fac099;
}

.point, 
.percentage {
    background-color: #F2D388;
}

.point:active,
.percentage:active {
    background-color: #f5e3bb;
}

.clear,
.backspace {
    background-color: #E97777;
}

.clear:active,
.backspace:active {
    background-color: #e79a9a;
}

.equal {
    background-color: #90C8AC;
    grid-column: span 2;
}

.equal:active {
    background-color: #b8dac9;
}